h1 {
    text-align: center;
}

#new-select {
    display: block;
    text-align: center;
}

.select {
    text-align: center;
    background-color: lightpink;
    display: inline-block;
}

#new {
    text-align: center;
    background-color: lightpink;
    display: inline-block;
}

.result {
    text-align: center;
    list-style: none;
}

.bmarkcontainer1 {
    background-color: lightblue;
    margin: 15px;
}

.bmarkcontainer2 {
    background-color: lightblue;
    margin: 15px;
}

